.head{
    background-color: antiquewhite;
}


.firstSection{
    background-color: $primaryBg;
    width: 100%;
    height: 110vh;
    background-size: cover;
}
.introImg{
    height: 50%;
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    justify-content: center;
    
}
.ulList, #bluebutton1, strong{
    text-decoration: none;
    list-style: none;
    font-family: $fontFamily;
    font-size: 30px;
    display: block;
    justify-content: center;
    padding-bottom: 10px;
    color: white;
    width: 100%;
}

.list11{
    text-decoration: none;
    
}

#bluebutton1 {
    
    top: 327px;
    left: 650px;
    height: 70px;
    width: 240px;
    border:8px solid lightgray;
    background-color: black;
    border-radius: 10px;
    padding-top: 7px;
    display:block;
    padding-bottom: 45px;
    margin: 2vh 0;
    
  }