.firstSection{
    background-color: $primaryBg;
    width: 100%;
    height: 110vh;
    background-size: cover;
}
.introImg{
    height: 50%;
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    justify-content: center;
    
}
.ulList, a{
    text-decoration: none;
    list-style: none;
    font-family: $fontFamily;
    font-size: 50px;
    display: block;
    justify-content: center;
    padding-bottom: 10px;
}
.list, a{
    text-decoration: none;
    color: black;
}
.list:link { text-decoration: none; }

.list:visited{
    color: #551a8b;
    text-decoration: none;
}

.list:hover{
    color: aliceblue;
}

.list:active{
    text-decoration: none;
}