.section2{
    background-image: url(https://thumbs.gfycat.com/PepperyPerfectHoneybadger-size_restricted.gif);
    background-size: cover;
    height: 110vh;
    width: 100%;
    font-family: $fontFamily;
    color: white;
    
}
.aboutX{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.x{
    position: relative;
    margin-left: 70px;
    text-decoration: none;
    color: gray;
    font-size: 50px;
}

.aboutMe{
   font-size: 30px;
   padding: 20px;
   display: flex;
   justify-content: center;
}


img{
    height: 100%;
    width: 100%;
    margin-top: -30px;
    display: inline-block;
    justify-content: center;
}