header {
  display: flex;
  background-color: #fbd30f;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  font-family: "Silkscreen", cursive;
}

.logo {
  font-size: 30px;
  margin: 15px;
}

.contactP {
  font-size: 15px;
  margin: 23px;
}

.section2 {
  background-image: url(https://thumbs.gfycat.com/PepperyPerfectHoneybadger-size_restricted.gif);
  background-size: cover;
  height: 110vh;
  width: 100%;
  font-family: "Silkscreen", cursive;
  color: white;
}

.aboutX {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.x {
  position: relative;
  margin-left: 70px;
  text-decoration: none;
  color: gray;
  font-size: 50px;
}

.aboutMe {
  font-size: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  margin-top: -30px;
  display: inline-block;
  justify-content: center;
}

.head {
  background-color: transparent;
  text-decoration: none;
}

.firstSection {
  background-image: url(https://wallpaperaccess.com/full/785654.gif);
  width: 100%;
  height: 110vh;
  background-size: cover;
}

.contactP {
  text-decoration: none;
  color: black;
  margin: 25px 5px;
}

.introImg {
  height: 50%;
  width: 100%;
  margin-top: 40px;
  display: inline-block;
  justify-content: center;
}

.ulList, #bluebutton1, strong {
  text-decoration: none;
  list-style: none;
  font-family: "Silkscreen", cursive;
  font-size: 30px;
  display: block;
  justify-content: center;
  padding-bottom: 10px;
  color: white;
  width: 100%;
  margin: 0 20px;
}

.list11 {
  text-decoration: none;
}

button {
  display: none;
  top: 327px;
  left: 650px;
  height: 69px;
  width: 199px;
  border: 4px solid lightgray;
  background-color: gray;
  border-radius: 5px;
  padding-top: 7px;
  display: block;
  padding-bottom: 45px;
  margin: 2vh 0;
  color: aliceblue;
}

button:focus {
  border: 4px solid white;
  background-color: rgb(160, 158, 158);
}

.section3 {
  background-image: url(https://64.media.tumblr.com/cca4f06484b447c0687f0325af5b38c9/428a8db1dc8ae92f-87/s1280x1920/7c751558b1d93e15c2d885cff2162ddb95059b8d.gif);
  background-size: 170% 100%;
  background-repeat: no-repeat;
  height: 110vh;
  width: 100%;
  font-family: "Silkscreen", cursive;
}

.skills {
  font-size: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #fffade;
}

.skillIcons {
  height: 60vh;
  width: 100%;
}

.icon {
  height: 90px;
  width: 90px;
  margin: 45px;
}

.thirdImg {
  height: 39vh;
  width: 100%;
  margin-top: -30px;
  display: inline-block;
  justify-content: center;
}

.section4 {
  background-image: url(https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/e2268ac97c4d36eae2073a17e402dd9a-1589494773/Cat-Sunset-Alert/make-an-8-bit-profile-picture-or-gif-pixel-art.gif);
  background-size: 100% 120%;
  background-repeat: no-repeat;
  height: 115vh;
  width: 100%;
  font-family: "Silkscreen", cursive;
}

.sectionImg {
  font-size: 10px;
  padding: 20px;
  width: 100%;
  color: #fffade;
}

.pic1 {
  width: 150px;
  height: 150px;
  margin: 7px;
  border: 4px solid black;
  border-radius: 3px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-family: "Silkscreen", cursive;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */