@import './variables';
@import './header';
@import './section2';
@import './firstSection';
@import './section3';
body{
    height: 100%;
    width: 100%;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}